<a href="https://colab.research.google.com/github/u1344368/IS4487/blob/main/FinalProjectIS4487Group12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Title & Overview: Project title, team members, short summary of business problem

**Title:**

Fronteir Airline's High Cancellation Rate

**Team Members**

Kayli Naylor, Leslie Andrade, Mia Smith, Muaaz Riaz

**Short Summary of Business Problem:**

The organization that we chose is Frontier Airlines. Frontier is a low-cost, budget-friendly airline that runs flights to over 120 destinations in the United States, Caribbean, Mexico, and Central America. They are based in Denver, Colorado, and employ more than 5,000 staff and are known for its “ultra-low-cost carrier” model, which focuses on keeping their base fares low while offering additional services such as seat selection, baggage, and other amenities at an extra cost. The business problem that we chose is Frontier's high cancellation rate, and if there is a way for them to predict it. By using data and predictive tools that look at causing factors, Frontier could better predict when problems might occur and take action ahead of time.

# Business Context: Description of the organization, business challenge, industry context
**Description of the Organization**

Frontier Airlines: Why they have the highest flight cancellations
The organization that we chose is Frontier Airlines. Frontier is a low-cost, budget-friendly airline that runs flights to over 120 destinations in the United States, Caribbean, Mexico, and Central America. They are based in Denver, Colorado, and employ more than 5,000 staff and are known for its “ultra-low-cost carrier” model, which focuses on keeping their base fares low while offering additional services such as seat selection, baggage, and other amenities at an extra cost. The business problem that we chose is Frontier's high cancellation rate, and if there is a way for them to predict it. By using data and predictive tools that look at causing factors, Frontier could better predict when problems might occur and take action ahead of time.


**Business Challenge**

Frontier Airlines has a major problem with the number of flight cancellations they have per year. In 2024, they were ranked with the highest number of flights cancelled at 2.7 % compared to Delta, who had the lowest percentage of flights cancelled at 0.2%. This starts to cause major issues for Frontier. It affects customer trust, causes damage to the brand, adds financial costs with rebooking, and there is an operational inefficiency as well as competitor risk. Frequent cancellations not only upsets customers, causing a bad reputation for the brand, but it is also costing Frontier thousands of dollars.

At the beginning of this year, the U.S. Department of Transportation fined Frontier Airlines $650,000 in civil penalties for operating multiple chronically delayed flights. This has a huge impact on the company as a whole. If Frontier had a way they could predict when flights would be delayed, then they would be able to take action against this and therefore avoid big fines as well as improve customer satisfaction.

**Industry Context**

Insert Context Here

# Exploratory Data Analysis (EDA): Statistics, visualizations, identification of issues

In [ ]:
from google.colab import files
uploaded = files.upload()

df = pd.read_csv('Enter file path')

Mounted at /content/drive

In [ ]:
#Import file and libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
df = pd.read_excel('/content/drive/MyDrive/T_ONTIME_MARKETING 3.csv.xlsx')

In [ ]:
#see attribute info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 599013 entries, 0 to 599012
Data columns (total 42 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   YEAR                     599013 non-null  int64
 1   MONTH                    599013 non-null  int64
 2   DAY_OF_MONTH             599013 non-null  int64
 3   FL_DATE                  599013 non-null  datetime64[ns]
 4   MKT_CARRIER_FL_NUM       599013 non-null  int64
 5   OP_CARRIER_FL_NUM        599013 non-null  int64
 6   ORIGIN                   599013 non-null  object
 7   DEST                     599013 non-null  object
 8   CRS_DEP_TIME             599013 non-null  int64
 9   DEP_TIME                 580752 non-null  float64
 10  DEP_DELAY                580716 non-null  float64
 11  DEP_DELAY_NEW            580716 non-null  float64
 12  DEP_DEL15                580716 non-null  float64
 13  DEP_DELAY_GROUP          580716 non-null  float64
 14  CRS_ARR_TIME             599013 non-null  int64
 15  ARR_TIME                 579976 non-null  float64
 16  ARR_DELAY                578957 non-null  float64
 17  ARR_DELAY_NEW            578957 non-null  float64
 18  ARR_DEL15                578957 non-null  float64
 19  ARR_DELAY_GROUP          578957 non-null  float64
 20  CANCELLED                599013 non-null  int64
 21  CANCELLATION_CODE        18740 non-null   object
 22  DIVERTED                 599013 non-null  int64
 23  DUP                      599013 non-null  object
 24  CRS_ELAPSED_TIME         599013 non-null  int64
 25  ACTUAL_ELAPSED_TIME      578957 non-null  float64
 26  AIR_TIME                 578957 non-null  float64
 27  FLIGHTS                  599013 non-null  int64
 28  DISTANCE                 599013 non-null  int64
 29  CARRIER_DELAY            109605 non-null  float64
 30  WEATHER_DELAY            109605 non-null  float64
 31  NAS_DELAY                109605 non-null  float64
 32  SECURITY_DELAY           109605 non-null  float64
 33  LATE_AIRCRAFT_DELAY      109605 non-null  float64
 34  TOTAL_ADD_GTIME          4790 non-null    float64
 35  LONGEST_ADD_GTIME        4790 non-null    float64
 36  DIV_AIRPORT_LANDINGS     599013 non-null  int64
 37  DIV_REACHED_DEST         1316 non-null    float64
 38  DIV_ACTUAL_ELAPSED_TIME  1019 non-null    float64
 39  DIV_ARR_DELAY            1019 non-null    float64
 40  DIV_DISTANCE             1316 non-null    float64
 41  DIV1_AIRPORT             1415 non-null    object
dtypes: datetime64[ns](1), float64(23), int64(13), object(5)
memory usage: 191.9+ MB

In [ ]:
#see attributes
df.head()
df.describe()

,YEAR,MONTH,DAY_OF_MONTH,FL_DATE,MKT_CARRIER_FL_NUM,OP_CARRIER_FL_NUM,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,DEP_DELAY_NEW,...,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,TOTAL_ADD_GTIME,LONGEST_ADD_GTIME,DIV_AIRPORT_LANDINGS,DIV_REACHED_DEST,DIV_ACTUAL_ELAPSED_TIME,DIV_ARR_DELAY,DIV_DISTANCE
count,599013.0,599013.0,599013.000000,599013,599013.000000,599013.000000,599013.000000,580752.000000,580716.000000,580716.000000,...,109605.000000,109605.000000,109605.000000,4790.000000,4790.000000,599013.000000,1316.000000,1019.000000,1019.000000,1316.000000
mean,2025.0,1.0,15.859309,2025-01-15 20:37:24.259807232,2731.621557,2731.583004,1316.704582,1321.973703,10.430021,14.280214,...,14.162374,0.099512,25.749272,43.916910,42.330480,0.003718,0.774316,519.205103,371.268891,37.472644
min,2025.0,1.0,1.000000,2025-01-01 00:00:00,1.000000,1.000000,5.000000,1.000000,-52.000000,0.000000,...,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,-175.000000,-554.000000,0.000000
25%,2025.0,1.0,8.000000,2025-01-08 00:00:00,1220.000000,1220.000000,910.000000,915.000000,-7.000000,0.000000,...,0.000000,0.000000,0.000000,19.000000,19.000000,0.000000,1.000000,293.000000,149.000000,0.000000
50%,2025.0,1.0,16.000000,2025-01-16 00:00:00,2398.000000,2398.000000,1310.000000,1319.000000,-3.000000,0.000000,...,2.000000,0.000000,0.000000,32.000000,31.000000,0.000000,1.000000,387.000000,222.000000,0.000000
75%,2025.0,1.0,24.000000,2025-01-24 00:00:00,4171.000000,4171.000000,1723.000000,1730.000000,6.000000,6.000000,...,19.000000,0.000000,28.000000,53.000000,52.750000,0.000000,1.000000,574.000000,425.500000,0.000000
max,2025.0,1.0,31.000000,2025-01-31 00:00:00,9694.000000,9694.000000,2359.000000,2400.000000,3298.000000,3298.000000,...,1185.000000,156.000000,2197.000000,393.000000,275.000000,9.000000,1.000000,2165.000000,2193.000000,1293.000000
std,0.0,0.0,9.027615,NaN,1783.260905,1783.242310,478.442990,489.564492,55.163303,54.001454,...,30.136314,2.043235,62.277070,41.490378,37.062509,0.125181,0.418191,358.757244,358.350459,110.065691

In [ ]:
#check for missing values
df.isnull().sum()

YEAR                            0
MONTH                           0
DAY_OF_MONTH                    0
FL_DATE                         0
MKT_CARRIER_FL_NUM              0
OP_CARRIER_FL_NUM               0
ORIGIN                          0
DEST                            0
CRS_DEP_TIME                    0
DEP_TIME                    18261
DEP_DELAY                   18297
DEP_DELAY_NEW               18297
DEP_DEL15                   18297
DEP_DELAY_GROUP             18297
CRS_ARR_TIME                    0
ARR_TIME                    19037
ARR_DELAY                   20056
ARR_DELAY_NEW               20056
ARR_DEL15                   20056
ARR_DELAY_GROUP             20056
CANCELLED                       0
CANCELLATION_CODE          580273
DIVERTED                        0
DUP                             0
CRS_ELAPSED_TIME                0
ACTUAL_ELAPSED_TIME         20056
AIR_TIME                    20056
FLIGHTS                         0
DISTANCE                        0
CARRIER_DELAY              489408
WEATHER_DELAY              489408
NAS_DELAY                  489408
SECURITY_DELAY             489408
LATE_AIRCRAFT_DELAY        489408
TOTAL_ADD_GTIME            594223
LONGEST_ADD_GTIME          594223
DIV_AIRPORT_LANDINGS            0
DIV_REACHED_DEST           597697
DIV_ACTUAL_ELAPSED_TIME    597994
DIV_ARR_DELAY              597994
DIV_DISTANCE               597697
DIV1_AIRPORT               597598
dtype: int64

In [ ]:
#check datatypes
df.dtypes

YEAR                                int64
MONTH                               int64
DAY_OF_MONTH                        int64
FL_DATE                    datetime64[ns]
MKT_CARRIER_FL_NUM                  int64
OP_CARRIER_FL_NUM                   int64
ORIGIN                             object
DEST                               object
CRS_DEP_TIME                        int64
DEP_TIME                          float64
DEP_DELAY                         float64
DEP_DELAY_NEW                     float64
DEP_DEL15                         float64
DEP_DELAY_GROUP                   float64
CRS_ARR_TIME                        int64
ARR_TIME                          float64
ARR_DELAY                         float64
ARR_DELAY_NEW                     float64
ARR_DEL15                         float64
ARR_DELAY_GROUP                   float64
CANCELLED                           int64
CANCELLATION_CODE                  object
DIVERTED                            int64
DUP                                object
CRS_ELAPSED_TIME                    int64
ACTUAL_ELAPSED_TIME               float64
AIR_TIME                          float64
FLIGHTS                             int64
DISTANCE                            int64
CARRIER_DELAY                     float64
WEATHER_DELAY                     float64
NAS_DELAY                         float64
SECURITY_DELAY                    float64
LATE_AIRCRAFT_DELAY               float64
TOTAL_ADD_GTIME                   float64
LONGEST_ADD_GTIME                 float64
DIV_AIRPORT_LANDINGS                int64
DIV_REACHED_DEST                  float64
DIV_ACTUAL_ELAPSED_TIME           float64
DIV_ARR_DELAY                     float64
DIV_DISTANCE                      float64
DIV1_AIRPORT                       object
dtype: object

# Data Cleaning & Preprocessing: Handling missing data, encoding, scaling, feature engineering

In [ ]:
#code

# Modeling: Rationale, implementation of 2–3 models, parameter selection

**Rationale**

Insert Rationale

In [ ]:
#code

# Dashboard: At least 5–6 charts embedded in the notebook with consistent formatting and clear labeling

In [ ]:
#code

# Evaluation: Metrics, comparison of models, business interpretation of results

**Metrics**

Insert metrics here

**Comparison of Models**

insert comparison here

**Business Interpretation of Results**

insert interpretation here

# Conclusions & Recommendations: Clear insights, business actions, and next steps

**Clear Insights**

Insert Insights here

**Business Actions**

insert business actions here

**Next Steps**

insert next steps here

# Data Acquisition & References: Links to original datasets and cited references

**Link(s) to Dataset(s)**

Insert links here

**Cited References**

insert links here