<a href="https://colab.research.google.com/github/u1344368/IS4487/blob/main/Assignments/assignment_10_classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# IS4487 Week 10 - Assignment

### Outline

Our Goals with this Project:

1. Import and review the data
2. Perform EDA and Clean Data
3. Fit a model
4. Test the accuracy of the model
6.  Use the model to predict on a new dataset (without the target)

<a href="https://colab.research.google.com/github/Stan-Pugsley/is_4487_base/blob/main/Assignments/assignment_10_classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Business Case: AdviseInvest
You work on a small team of data analysts at AdviseInvest, a venture-backed startup. The Director of Sales at AdviseInvest has approached your team asking for help solving a staffing problem.

### The Company
The company's mission is to provide tools and support to help ordinary people gain control of their personal finances. The company leverages technology to provide affordable financial advice to a national client base.

Customers who reach AdviseInvest's website go through five steps:

- Open an account.
- Complete a customer profile form with basic information about their background and finances.
- Schedule a free phone conversation with a sales representative during a 1-hour window of time.
- Attend the free phone conversation.
- Buy a financial plan.
- There are three types of financial plans: Beginner, Intermediate, and Advanced. Each is sold at a different price, and there are varying degrees of personalization. After a customer purchases a financial plan, the customer is assigned a financial planner who helps determine the customer's goals and advises the customer on spending decisions.

### The Problem
Some customers are lost at each stage of the process. Steps 3 and 4 are particularly challenging because approximately 50% of those who schedule a phone conversation fail to pick up the call. This leads to inefficiencies from a staffing perspective.

AdviseInvest has 4 sales reps on staff during each particular 1-hour window. Each of the 4 reps is assigned 2 prospective customers per hour, which means that the company schedules a total of 8 phone calls per hour. The calls are outgoing: sales reps call customers who scheduled a phone conversation during that hour window.

Unfortunately, as noted above, many of the customers who scheduled a call do not answer. As a consequence, sales reps are often left underutilized. Moreover, they are underutilized unevenly. For example, it is possible that one sales rep will not do any sales calls during that hour, whereas another will be busy the entire hour with two calls. Sales reps have nothing to do when customers do not answer the scheduled phone call.

### AdviseInvest Data Dictionary


| Variable | Description | Type | Code |
|:---|:---|:---|:---|
| Answered | Customer response | Binary | 0: customer did not answer scheduled call; 1: customer answered scheduled call |
| Income | Customer income in US dollars | Numeric | |
| Female | Customer gender | Binary | 0: female; 1: male |
| Age | Age in years | Numeric | |
| Job | Nature of job | Categorical | 0 : unemployed; 1 : entry level position; 2 : midlevel position; 3 : management/ self-employed/ highly qualified employee/ officer |
| Num_dependents | Number of people for whom the customer provides maintenance | Numeric | |
| Rent | Customer rents | Binary | 0: no; 1: yes |
| Own_res | Customer owns residence | Binary | 0: no; 1: yes |
| New_car | Recent new car purchase | Binary | New car purchase in the last 3 months: 0: no, 1: yes |
| Chk_acct | Checking account status | Categorical | 0 : no checking account; 1: checking < 200 USD; 2 : 200 < checking < 2000 USD; 3: 2000 < checking < 35000 USD; 4: >= 3500 USD |
| Sav_acct | Average balance in savings account | Categorical | 0 : no savings account; 1 : 100 <= savings < 500 USD; 2 : 500 <= savings < 2000 USD; 3 : 2000 < savings < 35000 USD; 4: >= 3500 USD |
| Num_accts | Number of accounts owned by customer | Numeric | |
| Mobile | Mobile phone | Binary | 0: customer provided nonâ€mobile phone for followâ€up call; 1: customer provided mobile phone for followâ€up call |
| Product | Type of product purchased after conversation with sales rep | Categorical | 0: customer did not answer call; 1: customer answered but did not purchase a product; 2: customer answered and purchased Beginner plan; 3: customer answered and purchased Intermediate plan; 4: customer answered and purchased Advanced plan |

### Load Libraries

Import the libraries you will need, such as:
- Pandas
- Sklearn
- Matplotlib

In [2]:
#Import libraries  ðŸ”§
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

## Step 1: Initial Data Understanding

### Do the following:
 - Import data from the AdviseInvest historical dataset into a dataframe (in GitHub go to Assignments > DataSets)
 - Describe or profile the dataframe
 - Look for any outliers, missing values, or duplicates

In [5]:
#Import the data ðŸ”§
df = pd.read_csv('adviseinvest_historical_data.csv')
df.head(5)

,answered,income,female,age,job,num_dependents,rent,own_res,new_car,chk_acct,sav_acct,num_accts,mobile,product
0,1,13520,0,23,0,1,1,0,0.0,0,2,0,1,2
1,0,14780,0,22,2,1,0,1,0.0,3,0,3,0,0
2,1,37570,0,62,2,1,0,0,1.0,3,0,4,0,4
3,0,12450,0,33,2,1,0,1,0.0,1,0,2,0,0
4,0,12400,0,48,1,2,0,0,1.0,2,1,4,0,0

In [6]:
#View the datatypes ðŸ”§
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29504 entries, 0 to 29503
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   answered        29504 non-null  int64
 1   income          29504 non-null  int64
 2   female          29504 non-null  object
 3   age             29504 non-null  int64
 4   job             29504 non-null  int64
 5   num_dependents  29504 non-null  int64
 6   rent            29504 non-null  int64
 7   own_res         29504 non-null  int64
 8   new_car         29502 non-null  float64
 9   chk_acct        29504 non-null  int64
 10  sav_acct        29504 non-null  int64
 11  num_accts       29504 non-null  int64
 12  mobile          29504 non-null  int64
 13  product         29504 non-null  int64
dtypes: float64(1), int64(12), object(1)
memory usage: 3.2+ MB

In [7]:
#Describe the data ðŸ”§
df.describe()

,answered,income,age,job,num_dependents,rent,own_res,new_car,chk_acct,sav_acct,num_accts,mobile,product
count,29504.000000,29504.000000,29504.000000,29504.000000,29504.000000,29504.000000,29504.000000,29502.000000,29504.000000,29504.000000,29504.000000,29504.000000,29504.000000
mean,0.546638,33766.893303,34.773454,1.915401,1.140998,0.210412,0.681128,0.240797,1.468547,0.956616,2.458345,0.091106,1.535792
std,0.497829,29379.202710,11.369865,0.658183,0.348025,0.407608,0.466047,0.427575,1.234727,1.483946,19.497380,0.287765,1.625916
min,0.000000,-65600.000000,19.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,13550.000000,26.000000,2.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000
50%,1.000000,23310.000000,32.000000,2.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,2.000000,0.000000,1.000000
75%,1.000000,41690.000000,40.000000,2.000000,1.000000,0.000000,1.000000,0.000000,3.000000,2.000000,3.000000,0.000000,3.000000
max,1.000000,159450.000000,132.000000,3.000000,2.000000,1.000000,1.000000,1.000000,3.000000,4.000000,3345.000000,1.000000,4.000000

## Step 2: Data Preparation

### 2.1: Data Cleanup
- Remove any variables that are not relevant to our analysis (be sure not to delete too many variables, you may need them in the near future!)
- Clean up the data and put it in a new datafram named "df_clean"

In [9]:
#delete outliers ðŸ”§
df = df[df['income'] > 0].copy()
df = df[df['age'] <= 122].copy()
df = df[df['num_accts'] < df['num_accts'].quantile(0.99)].copy()
df = df[df['income'] < df['income'].quantile(0.99)].copy()
df.describe()

,answered,income,age,job,num_dependents,rent,own_res,new_car,chk_acct,sav_acct,num_accts,mobile,product
count,16894.000000,16894.000000,16894.000000,16894.000000,16894.000000,16894.0000,16894.000000,16893.000000,16894.000000,16894.000000,16894.000000,16894.000000,16894.000000
mean,0.518942,30335.914526,32.079496,1.837161,1.083343,0.2273,0.712087,0.223465,1.503729,0.836984,1.484847,0.060613,1.291701
std,0.499656,24721.396683,10.073983,0.685363,0.276408,0.4191,0.452804,0.416580,1.227877,1.395358,0.679665,0.238627,1.470169
min,0.000000,2760.000000,19.000000,0.000000,1.000000,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,13310.000000,25.000000,2.000000,1.000000,0.0000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
50%,1.000000,22350.000000,29.000000,2.000000,1.000000,0.0000,1.000000,0.000000,1.000000,0.000000,2.000000,0.000000,1.000000
75%,1.000000,37722.500000,35.000000,2.000000,1.000000,0.0000,1.000000,0.000000,3.000000,1.000000,2.000000,0.000000,2.000000
max,1.000000,115900.000000,70.000000,3.000000,2.000000,1.0000,1.000000,1.000000,3.000000,4.000000,2.000000,1.000000,4.000000

In [10]:
#remove variables that are not helpful ðŸ”§
df_clean = df.drop(columns = ['new_car', 'rent']).copy()
df_clean.head()

,answered,income,female,age,job,num_dependents,own_res,chk_acct,sav_acct,num_accts,mobile,product
0,1,13520,0,23,0,1,0,0,2,0,1,2
3,0,12450,0,33,2,1,1,1,0,2,0,0
5,1,14030,0,28,2,1,0,0,0,2,0,4
6,1,9320,0,24,2,1,1,3,0,2,0,2
7,1,11750,0,68,0,1,0,1,0,0,0,3

In [11]:
#cleanup any missing or non-standardized data ðŸ”§
df_clean.isnull().sum()
df_clean = df_clean.reset_index(drop = True)
df_clean.head(5)

,answered,income,female,age,job,num_dependents,own_res,chk_acct,sav_acct,num_accts,mobile,product
0,1,13520,0,23,0,1,0,0,2,0,1,2
1,0,12450,0,33,2,1,1,1,0,2,0,0
2,1,14030,0,28,2,1,0,0,0,2,0,4
3,1,9320,0,24,2,1,1,3,0,2,0,2
4,1,11750,0,68,0,1,0,1,0,0,0,3

### 2.2: Standardize variables

 - Change "answered" to yes/no and make it categorical
 - Convert any variables that should be an integer into an integer

In [13]:
# Convert answered to categorical ðŸ”§
df_clean['answered'] = df_clean['answered'].map({0: 'no', 1: 'yes'}).astype('category')

In [14]:
# Convert variables to integer data type ðŸ”§
df_clean['age'] = df_clean['age'].astype('int')
df_clean['num_dependents'] = df_clean['num_dependents'].astype('int')
df_clean['num_accts'] = df_clean['num_accts'].astype('int')
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16894 entries, 0 to 16893
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   answered        16894 non-null  category
 1   income          16894 non-null  int64
 2   female          16894 non-null  object
 3   age             16894 non-null  int64
 4   job             16894 non-null  int64
 5   num_dependents  16894 non-null  int64
 6   own_res         16894 non-null  int64
 7   chk_acct        16894 non-null  int64
 8   sav_acct        16894 non-null  int64
 9   num_accts       16894 non-null  int64
 10  mobile          16894 non-null  int64
 11  product         16894 non-null  int64
dtypes: category(1), int64(10), object(1)
memory usage: 1.4+ MB

### 2.3 Convert variables to categorical

- Find at least 8 variables that would be appropriate to convert to categories

In [ ]:
#Convert categorical variables ðŸ”§
df_clean['product'] = df_clean['product'].map({0: "customer did not answer call", 1: "customer answered but did not purchase a product", 2: "customer answered and purchased Beginner plan", 3: "customer answered and purchased Intermediate plan", 4: "customer answered and purchased Advanced plan"}).astype('category')
df_clean['sav_acct'] = df_clean['sav_acct'].map({0: "no savings account", 1 : "100 <= savings < 500 USD", 2 : "500 <= savings < 2000 USD", 3 : "2000 < savings < 35000 USD", 4: ">= 3500 USD"}).astype('category')
df_clean['chk_acct'] = df_clean['chk_acct'].map({0: "no checking account", 1: "checking < 200 USD", 2 : "200 < checking < 2000 USD", 3: "2000 < checking < 35000 USD", 4: ">= 3500 USD"}).astype('category')
df_clean['job'] = df_clean['job'].map({0: "unemployed", 1 : "entry level position", 2 : "midlevel position", 3 : "management/ self-employed/ highly qualified employee/ officer"}).astype('category')
df_clean['mobile'] = df_clean['mobile'].map({0: "customer provided nonâ€mobile phone for followâ€up call", 1: "customer provided mobile phone for followâ€up call"}).astype('category')
df_clean['own_res'] = df_clean['own_res'].map({0: 'no', 1: 'yes'}).astype('category')

df_clean['income'] = df_clean['answered'].map({0: 'no', 1: 'yes'}).astype('category')
df_clean['age'] = df_clean['answered'].map({0: 'no', 1: 'yes'}).astype('category')

# Step 3: Exploratory Data Analysis (EDA)

### Do the following:
- Explore the relationships between the target and independent variables
- Create at least five charts to show the relationships, using different chart types that are approriate to the analysis
- Ensure that all charts are clearly labeled and formatted

In [ ]:
# Chart 1 ðŸ”§

In [ ]:
# Chart 2 ðŸ”§

In [ ]:
# Chart 3 ðŸ”§

In [ ]:
# Chart 4 ðŸ”§

In [ ]:
# Chart 5 ðŸ”§

## Step 4: Modeling

### 4.1: Calculate the base probability of answering

If we use no model at all, how good is our chance of predicting someone leaving?  Use a calculation to find the chances of someone leaving.

In [ ]:
#get the default probability ðŸ”§

### 4.2: Split the training and testing datasets

- split df_clean using train_test_split function
- all variables except answered should be in the x variable
- answered is in the y variable

In [ ]:
# Split data into training and testing sets ðŸ”§

### 4.3: Create a Decision Tree
- Use all available attributes (except those that were eliminated in step 3)
- It is recommended to use the type "entropy" and a max_depth of 4

In [ ]:
#create a tree  ðŸ”§

In [ ]:
#display (visualize) the tree ðŸ”§

### 4.4: What is the accuracy?

This should be better than the base probability, or you have failed in your objective

In [ ]:
#calculate the probability for your tree ðŸ”§

### 4.5: Create a confusion matrix

This will show false positives, true positives, etc.

In [ ]:
#create a basic confusion matrix ðŸ”§

Create a more visual, interpretable version of the matrix

In [ ]:
#Create a beautiful matrix; hint - try using Seaborn Heatmap ðŸ”§

# Step 5: Evaluate the Model

**Assumptions**

One of the simplifying assumptions we will make in this project is that all the customers who answer the phone will purchase a product. (This assumption is actually verified by the data.) To model "answered" in this case is therefore equivalent to modeling "purchased."

There are costs and benefits in this case. We will assume that customers purchase a product for 100 dollars. This was the average cost of AdviseInvest products, according to the Director of Sales.  Also, as we learned in the interview, the agent time to make the sale is worth 25 dollars. Profit would therefore be \$75 dollars for an answered call and a purchase. In sum:

**Benefit**: True positive. The customer is predicted to answer, does answer, and purchases a product for 100 dollars for a profit of 100 - 25 = 75.

**Cost**: False positive. The customer is predicted to answer, but does not answer, so there is a loss of 25. (We assume the agent cannot schedule another call at the last minute, or spends the entire time slot trying to make the call.)

When you create a calculation you can use:
- True answered * 75 -> These people purchased
- False answered * 25 -> You can't schedule another call

For this exercise, we propose that customers who are not predicted to answer will not be called, so there would be no benefits and no costs for them.  

### 5.1 Calculate the Profit Using the Model

In [ ]:
# Write a calcuation for the profit from your model ðŸ”§

### 5.2 Compare to the Default Profit

How much profit (revenue - costs) could be expected if all customers are called? We can consider this a baseline case for profit since it does not require a model.

In other words, to calculate profit in this baseline scenario treat the customers who answer as true positives treat the customers who do not answer as false positives.

In [ ]:
#Write a calculation for the overall profit without using the model (default) ðŸ”§

### 5.3 Tune the Model
- Adjust the size or shape of the tree, then test the accuracy
- Keep changing these parameters until you end up with a tree with accuracy that is better than the initial model

In [ ]:
# Create a new version of the tree with new parameters ðŸ”§

In [ ]:
# Calculate a new probability ðŸ”§

### 5.4 Apply the Model to New Customers
- Import the "adviseinvest_new_customer_data.csv" file
- Using the tree model, predict each customer for the target variable  by feeding the new customer data into the model

In [ ]:
#Import new customer data into a new data frame ðŸ”§

In [ ]:
#Predict the number of customers who will be yes/no for the target variable ðŸ”§

# Step 6: Conclusion
### 6.1: Did we improve our profit using the model?

Write your conclusion notes below:  ðŸ”§

### 6.2: How could the model be utilized by the business?

Write your recommendations below:  ðŸ”§

## Submission Instructions
âœ… Checklist:
- All code cells run without error
- All markdown responses are complete
- Submit on Canvas as instructed

In [ ]:
!jupyter nbconvert --to html "assignment_10_LastnameFirstname.ipynb"